Basic Requirements for learning project

Functional Requirements:
[X] Add the 4 basic BBC tests
[X] Add Reporting
[X] Add Multi-browser support
[X] Add Docker Grid
[X] Add embedded screenshots in reporting

add others Here